* {
    all: unset;
}

.sound {
    background-color: transparent;
}

.sound_scale {
    background-color: #303446;
    border: 2px solid #8caaee;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    min-width: 200px;
    min-height: 30px;
}

.sound_scale trough {
    min-height: 15px;
    border-radius: 10px;
    background-color: #737994;
}

.sound_scale trough highlight {
    background-color: #8caaee;
    border-radius: 10px;
}
