* {
    all: unset;
}

.sound-window, .bri-window {
    background-color: transparent;
}

.sound-box, .bri-box {
    background-color: #303446;
    border: 2px solid #8caaee;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

.sound-label, .bri-label {
    min-width: 25px;
}

.sound-icon, .bri-icon {
    min-width: 25px;
}

.sound-scale, .bri-scale {
    min-width: 150px;
    min-height: 30px;
}

.sound-scale trough, .bri-scale trough {
    min-height: 7px;
    border-radius: 10px;
    background-color: #737994;
}

.sound-scale trough highlight, .bri-scale trough highlight {
    background-color: #8caaee;
    border-radius: 10px;
}
